body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h1, h2, h3 {
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  text-decoration: underline;
}

.background {
  background-image: url('/broadway/resources/images/the-flatiron-building.png');
  color: white;
}

.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

.copyright {
  font-size: 11px;
}
